body{
    background-image: url(image.jpg);
    width: 10%;
    height: auto;
    background-size: cover;

}
.container{
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    margin: 10px;
}

.toto{
    width: 300px;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    
}
div img{
    width: 300px;
    transition: width 1s;
    border: 2px solid blue
}
div :hover{
    width: 320px;
}
.toto{
    border: 2px solid blue;
    width: 300px;
    transition: width 2s;
}
.hassan{
    margin: auto;
    font-size: 80%;
    color:blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.misteryou{
    width: 100%;
    height: auto;
    display: flex;
}
.pnl{
    width: 300px;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
}
.himci{
    margin: auto;
    font-size: 80%;
    color: blue;   
}
header{
    width: 100%;
    display: flex;
    margin: auto;
    padding: 15px;
}
.logo{
    width: 50%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    
}
h1{
    font-size: 60px;
    display: flexbox;
    margin-left: 450px;
}